{{! Partial for a single post }}
<div class="post" data-id="{{id}}" data-likes="{{likes}}" data-hashtag="{{hashtag}}">
    <div class="post-avatar">
        <!-- the user's avatar -->
        <img src="images/logo.png" name="{{username}}" id ="post-avatar" alt="User Avatar" onload="getAvatar(this)">
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->

        <div id="title">{{title}}</div>
        <div id="content">{{content}}</div>
        <div id="hashtag">{{hashtag}}</div>
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            
            {{#ifCond username user.username}}
                 <button class="delete-button" data-id="{{id}}" type='button' onclick="handleDeleteClick(this)"><i class="fas fa-trash-alt"></i></button>
            {{else}}
                <button class="like-button" data-id="{{id}}" type='button' onclick="handleLikeClick(this)">♥</button>
            {{/ifCond}}
            
            <div name='likes' data-id="{{id}}">{{likes}} Likes</div>
            <div class='origin'>Posted by {{username}} on {{timestamp}}</div>

        </div>        
    </div>
</div>
<script>
    function getAvatar(tag) {
        fetch('/avatar/'+ tag.name)
        .then(res => res.json())
        .then(body => {
            tag.src = body.url;
        })
        .catch(err => {console.error('error: ', err);});
    }

    function handleLikeClick(event) {
        const postId = event.getAttribute('data-id');
        // you might want to "fetch" something...
        let data = {id:postId};
        console.log(event);
        fetch('/like/:id', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
            })
        .then(res => res.json())
        .then((body)=>{
            if (body.likes) {
                const likesArray = document.getElementsByName('likes');
                let likes;
                likesArray.forEach((div)=> {
                    if (div.getAttribute('data-id') == postId) {
                        likes = div;
                    }
                })
                //console.log(likes.textContent);
                 const currLikes = parseInt(likes.textContent);
                if (parseInt(body.likes) == 1) {
                    likes.textContent = ""+(currLikes+1)+" Likes"; 
                } else {
                    likes.textContent = ""+(currLikes-1)+" Likes";
                }
            } else if (body.redirect) {
                window.location.assign(body.redirect);
            }
        })
        .catch(err => {console.error('error: ', err);});

    }

    function handleDeleteClick(event) {
        const postId = event.getAttribute('data-id');
        // you might want to "fetch" something...
        let data = {id:postId};

        fetch('/delete/:id', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
            })
        .then((res) => res.json())
        .then((body)=>{
            if (body.deleted) {
                let currentNode = event;
                while (currentNode.className != 'post') {
                    currentNode = currentNode.parentElement;
                    console.log(currentNode);
                }
                currentNode.remove();
            }
        })
        .catch((err) => {console.error('error: ', err);});
    }    
</script>